body{
    margin:0;
    font-family: 'Poppins', sans-serif;
}
.container-fluid {
    background-color: #F5F5F5;
    height:100vh;
    padding:0 5%;
}
.active-nav{
    color:#404040;
    font-weight: bolder;
    line-height: 20px;
    
}
.active-link{
    border-bottom: 1px #000000 solid;
}
.button-round{
    padding-right:0.9rem!important;
    padding-left:0.9rem!important;
    border-radius: 70px;
    font-weight: bolder;
    color:#000!important;
    border-color: #40404024;
}
.pad{
    padding-top:3rem;
}
#hero{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-inner{
    width:50%;
    background-color: transparent;
    height:15vh;
}
#hello{
    font-size:14rem;
    word-spacing: -3.5rem;
    font-weight:bolder;
}
.l{
    color:#46BDA8;
}
#h{
    color:#E5BA41;
}
#e{
    color:#EE836D;
}
#o{
    color:#D96361;
}
#dot{
    color:#F57F72;
}
.ma{
    color:#CCCCCC;
}
.button_start{
    border-radius: 70px;
    width: 35%;
    height: 50px;
    line-height: 35px;
}